header .container-fluid {
    justify-content: flex-start !important;
}
header ul li {
    padding: 0 24px;
}
header ul li a {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700 !important;
    font-size: 16px !important;
    text-align: center;
    color: black !important;
}
header ul li a::before {
    content: "";
    height: 30px;
    width: 2px;
    background: #032412;
    display: block;
    position: absolute;
    top: 17px;
    margin-left: -31px;
}
header ul li:first-child a:before {
    width: 0;
}

.logo {
    display: block;
    width: 180px;
    text-align: center;
}

.logo img {
    width: 100%;
}

header .menu {
    position: fixed !important;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    background: #ffffff6b;
    z-index: 9999;
    height: 66px;
    line-height: 49px;
}

header .menu ul {
    margin: auto;
    display: flex;
    justify-content: center;
}

.menu-header button {
   z-index: 999;
   border: none;
}

@media (max-width: 768px) {
    header ul li a::before {
        display: none;
    }
    header button {
        position: fixed;
        right: 10px;
        border: none !important;
        top: 5%;
        transition: 0s;
        z-index: 9999;
    }
    header .navbar-toggler:focus {
        box-shadow: none !important;
    }
    header .menu.show {
        position: fixed;
        top: 0;
        left: 0;
        background: #fff;
        width: 100%;
        height: 100%;
        transition: 0s;
        padding-top: 48px;
        padding-left: 36px;
        z-index: 9999;
    }
    button.navbar-toggler.close {
        top: 0;
    }
    header .navbar-nav li a {
        text-align: left;
    }
    header .navbar-nav li a {
        color: #004620 !important;
    }
    .menu {
        transition: 0s !important;
    }
}