@font-face {
    font-family: 'VNF-Lobster';
    font-weight: 400;
    src: url('../fonts/VNF-Lobster.ttf')
}

@font-face {
    font-family: Myriad Pro;
    font-weight: 700;
    src: url('../fonts/MyriadPro/MYRIADPRO-BOLD.OTF')
}

@font-face {
    font-family: Myriad Pro;
    font-weight: 400;
    src: url('../fonts/MyriadPro/MYRIADPRO-REGULAR.OTF')
}

.padding-custom {
    padding: 0 60px;
}

.container {
    max-width: 1064px;
}

body {
    background: url('../images/bg-body.png');
    background-size: cover;
}

* {
    font-family: 'Quicksand', sans-serif;
}

.justify-content-space-between {
    justify-content: space-between;
}

.section1 {
    padding: 16px;
}

.section1 .title {
    display: flex;
    position: absolute;
    transform: translateX(-60px);
    padding-top: 30px;
    
}

section.section3 .info span {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #004620;
}

.section1 .title h1 {
    max-width: 322px;
    font-family: 'VNF-Lobster';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    text-align: right;
    color: #004620;
    margin-bottom: 11px;
}

.section1 .content p {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    text-align: justify;
    color: #004620;
    max-width: 404px;
}

.content {
    margin-top: 74px;
}

.btn-primary,.btn-outline-primary {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background: #004620;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
    border: none;
    border-radius: 0;
    margin-right: 16px;
}

.btn-primary:hover {
    background: #6c757d1f;
    color: #004620;
}

.btn-outline-primary:hover {
    color: #055160;
    background: #0046200a;
    border: 2px solid #004620;
}

.btn-outline-primary {
    border: 2px solid #004620;
    background: none;
    color: #004620;
}

.section2 h3 {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 150%;
    text-align: center;
    color: #004620;
    font-family: 'VNF-Lobster';
}

.section2 p {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: #000000;
}

img.img-content.img2 {
    transform: rotateZ(5deg) translate(0, -119px);
    margin-bottom: 60px;
}

img.img-line-1,.img-line-2 {
    position: absolute;
    right: 0px;
    top: -251px;
    z-index: -1;
    transform: rotate(193deg);
}

img.img-line-1.n {
    top: -131px;
    transform: rotate(219deg);
    left: 64%;
}

.img-line-2 {
    left: 0;
    transform: rotate(28deg) !important;
    margin-bottom: 50px;
    top: -171px;
}

section.section2 p.text-xl-end.text-lg-end.text-md-end.text-sm-start.text-xs-start {
    max-width: 354px;
    float: right;
}

.isMobile {
    display: none;
}

.isDesktop {
    display: block;
}

.section3 img {
    width: 50%;
}

.section3 h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 150%;
    text-align: center;
    color: #004620;
    overflow: hidden;
    font-family: Myriad Pro;
}

.section3 h3:before,
.section3 h3:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.section3 h3:before {
  right: 0.5em;
  margin-left: -50%;
}

.section3 h3:after {
  left: 0.5em;
  margin-right: -50%;
}

.section3 h5 {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #004620;
    margin: 30px 0;
}

.section3 .info {
    width: 60%;
}

span.swiper-pagination-bullet {
    background: #004620;
}

footer ul li a {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
    color: #FFFFFF;
    text-decoration: none;
    font-family: Myriad Pro;
}

footer ul li {
    list-style: none;
    padding: 4px 0;
}

footer ul {
    padding-left: 0;
}

footer {
    padding: 32px 0;
    background: url(https://meatdeli.com.vn/bitrix/templates/Meatdeli/img/bg-ft.jpg);
}

.bg-footer {
    position: absolute;
    top: -163px;
}
footer h3 {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 150%;
    color: #FFFFFF;
    padding: 16px 0;
    margin: 0;
}

.logo-footer {
    margin-bottom: 16px;
    width: 100%;
}

.title-footer {
    font-size: 14px;
    font-family: mb;
    line-height: 24px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
    font-family: Myriad Pro;
}

.phone {
    font-size: 28px;
    font-family: mb;
    line-height: 38px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 5px;
    display: block;
}

footer ul li a:hover {
    color: #111111;
}

footer .border {
    border-left: none !important;
    border-right: none !important;
}

.icons {
    padding-top: 8px;
}

section.section4 {
    margin-bottom: 50px;
}

.section2 h1 {
    color: #004620;
}

.section2 h1 {
    color: #004620;
    font-size: 50px;
    font-weight: revert;
}

.icons-section2 {
    display: flex;
    margin: auto;
    width: 60%;
    justify-content: space-between;
}

.img-content {
    box-shadow: 1px 2px 13px 3px #80808061;
    background: #ffff;
    padding: 5px 5px 16px;
    height: 280px;
}

.section2 .img1 {
    margin-bottom: 60px;
    transform: rotateZ(-12deg);
}

img.img3.img-content {
    transform: rotateZ(-9deg) translate(0px, -25px);
}
.line-title {
    position: absolute;
    height: 3px;
    background: #004620;
    z-index: 22;
    width: 100%;
    top: 50%;
}

.swiper-pagination {
    transform: translateY(15px) !important;
}

.slideSwiper img {
    width: 100%;
}

.logo {
    position: absolute;
    z-index: 22;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slideSwiper {
    margin-top: -125px;
}

.height-custom {
    height: 212px;
}

.img-section1 {
    width: 100% !important;
    transform: rotate(18deg);
}

@media (max-width: 768px) {
    a.buy-cart.isMobile {
        position: fixed;
        right: 0;
        top: 50%;
        z-index: 9999;
    }
    .section3 img {
        width: 100%;
    }
    .section1 .title h1 {
        font-size: 28px;
        max-width: 222px;
    }
    .row.middle-block .col-lg-6.col-md-6.col-sm-12.order-lg-0.order-xs-1 {
        padding-left: 0;
        padding-right: 0;
    }
    .section2 h3 {
        font-size: 28px;
    }
    ul.d-xs-flex {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #0551602e;
        margin-bottom: 0;
    }
    .title-footer {
        padding-top: 16px;
    }
    img.logo-footer {
        width: 130px;
    }
    .slideSwiper {
        margin-top: -25px;
    }
    .height-custom {
        height: 280px;
    }
    img.img-line-1.n {
        left: 7px !important;
        transform: rotate3d(1, 1, 1, -24deg) !important;
        top: -110px !important;
        z-index: -1 !important;
    }
    .container.full-width {
        margin: 0px;
        padding: 0;
    }
    .logo {
        width: 100px;
    }
    section.section2 {
        width: 100%;
        overflow: hidden;
    }
    .section2 .img1 {
        width: 300px;
        transform: rotateZ(-13deg) translate(0, 32px);
        height: 196px;
    }
    img.img-content.img2 {
        width: 300px;
        height: 200px;
        transform: rotate(10deg) translate(0px, 10px);
    }
    img.img3.img-content {
        width: 300px;
        margin-top: 33px;
        margin-bottom: 16px;
    }
    .padding-custom {
        padding: 16px;
    }
    .section2 img {
        height: auto;
    }
    .icons-section2 img {
        height: 128px;
        margin: 10px;
    }
    .icons-section2 {
        columns: 2;
        display: block;
        width: 250px;
        margin: auto;
    }

    .bg-footer {
        top: -50px;
    }
    .section3 .info {
        width: 100%;
    }
    .isMobile {
        display: block;
    }
    .isDesktop {
        display: none;
    }
    .img-line-2 {
        right: 16px;
        left: unset;
        transform: rotate(224deg) !important;
        top: -62px;
    }
    .text-xs-start {
        text-align: left !important;
    }
    .text-xs-end {
        text-align: right !important;
    }
    .text-xs-end {
        text-align: left;
    }
    .section2 p {
        max-width: 100% !important;
        font-size: 16px;
    }
    img.img-line-1 {
        left: -13px;
        transform: rotate3d(1, 1, 1, 45deg);
        top: -79px;
        z-index: -1 !important;
    }
    .row.middle-block {
        margin: 52px 0;
    }
    .section1 .content p {
        font-size: 12px;
    }
    section.section1 {
        padding-bottom: 120px;
    }
    .buttons {
        position: absolute;
        display: flex;
        margin-top: 50px;
        width: 89%;
    }
    .buttons button {
        padding: 16px 9px;
        font-size: 16px !important;
        width: 50%;
    }
    .img-section1 {
        width: 95% !important;
    }
    .section1 .title {
        position: unset !important;
        transform: translateX(0);
    }
    .order-xs-0 {
        order: 0;
    }
    .order-xs-1 {
        order: 1;
    }
}

@media screen and (max-width: 1024px){
    .icons-section2 {
        width: 75%;
    }
    .buttons {
        display: flex;
    }
    .buttons button {
        font-size: 12px;
    }
    .menu-header button {
        position: fixed;
        right: 24px;
        top: 36px;
    }
    header .menu.show {
        position: fixed;
        top: 0;
        left: 0;
        background: #fff;
        width: 100%;
        height: 100%;
        transition: 0s;
        padding-top: 48px;
        padding-left: 36px;
        z-index: 9999;
    }
    .img-content {
        width: 299px;
        height: 217px !important;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .icons-section2 {
        width: 100%;
        columns: 1;
    }
    .section1 .content p {
    padding-top: 122px;
    }
}